[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
coloredlogs = "*"
numpy = "*"
scikit-learn = {ref = "0.19.X", git = "https://github.com/scikit-learn/scikit-learn"}
scipy = "*"
pandas = "*"
cython = "*"

[dev-packages]
pytest = "*"
ipython = "*"

[requires]
python_version = "3.7"
