[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
coloredlogs = "*"
numpy = "*"
scipy = "*"
pandas = "*"
cython = "*"
pyyaml = "*"
pydantic = "*"
scikit-learn = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[requires]
python_version = "3.7"
